<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>index</title>
    <link rel="stylesheet" href="wwwroot/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IUTLeague</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/22.2.5/material.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IUTLeague.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" referrerpolicy="no-referrer" />
    
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="site.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4d0b4c932e.js" crossorigin="anonymous"></script>

</head>


<body>
    @*header starts here*@
    <header class="head-area">
    <div class="header-container">
      <div class="logo">
        <h1><span>IUT</span>League</h1>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="menu">
        <ul class="menu1">
          <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
          <li><a asp-controller="Home" asp-action="About" class="">About</a></li>
          <li><a asp-controller="Home" asp-action="News" class="">News</a></li>
          <li><a asp-controller="Home" asp-action="AdminLogin" class="">Admin login</a></li>
        </ul>
      </div>
    </div>

  </header>


  @*<script>
    $(document).ready(function(){
      $(".mobile-nav i").click(function(){
          $(".menu").toggleClass('mobile-menu');
      });
    })
  </script>*@
    @*header ends here*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-right">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">
                    <i class="fas fa-exclamation-circle privacy-icon"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>



    @*Footer starts here*@


    <div class="main"></div>
    <footer id="Footer"style="background-color:#142440;" class="page-footer font-small pt-4">
      <div style="background-color:#142440;" class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <!-- Content -->
            <h5 class="text-uppercase font-weight-bold mt-3 mb-4">About our Company</h5>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px, color=white;">
            <p>Our GOATs are unstoppable.</p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div id="link10" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div id="link10" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Academic Building 0, IUT</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> sports@iut-dhaka.edu</p>
            <p>
              <i class="fas fa-phone mr-3"></i> + 91 80254 52123</p>
            <p>
              <i class="fas fa-print mr-3"></i> + 91 80254 55987</p>
          </div>
        </div>
      </div>
      <hr>
      <!-- Call to action -->
      @*<ul style="background-color:#b3b3cc;" class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="#Contact" class="btn btn-outline-danger btn-rounded">Sign up!</a>
        </li>
      </ul>
      <hr>*@
      <!-- Social buttons -->
      <div class="hover-effect1">
      <ul  style="background-color:#142440;" class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/profile.php?id=61550107976889" title="Facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.twitter.com" title="Twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com" title="Instagram"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.youtube.com" title="Youtube"><i class="fa fa-youtube"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#." title="Github"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
      <!-- Copyright -->
      <div  style="background-color:#142440;" class="footer-copyright text-center py-3">
        Copyright© 2023: Design and Develop by Team Duo
      </div>
    </footer>

    @*Footer ends here*@


</body>
</html>
