@{
    Layout = "_Layout";
}
<head>
    
    <link rel="stylesheet" href="wwwroot/css/F_Index.css" asp-append-version="true"/>
    @*<title>@ViewData["Title"] - FootballLeague</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/22.2.5/material.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IUTLeague.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4d0b4c932e.js" crossorigin="anonymous"></script>

    
</head>


<body>
@*header starts here*@
    <header class="sport-head-area">
    <div class="sport-header-container">
      <div class="sport-logo">
        <h1><span>Football</span>League</h1>
      </div>
     <ul class="football-menu1">
           <li><a asp-controller="Football" asp-action="Matches" class="active">MATCHES</a></li>
           <li><a asp-controller="Football" asp-action="Standings" class="">STANDINGS</a></li>
           <li><a asp-controller="Football" asp-action="Stats" class="">STATS</a></li>
           <li><a asp-controller="Football" asp-action="Players" class="">PLAYERS</a></li>
    </ul>
    </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*header ends here*@
  </header>
  


<div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
  
</div>

</body>

