@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/F_Index.css">
</head>


<body>
@*header starts here*@
    <header class="sport-head-area">
    <div class="sport-header-container">
      <div class="sport_logo">
        <h1><span>Football</span>League</h1>
      </div>
     <ul class="football-menu1">
           <li><a asp-controller="Football" asp-action="Matches" class="active">MATCHES</a></li>
           <li><a asp-controller="Football" asp-action="Standings" class="">STANDINGS</a></li>
           <li><a asp-controller="Football" asp-action="Stats" class="">STATS</a></li>
           <li><a asp-controller="Football" asp-action="Players" class="">PLAYERS</a></li>
    </ul>
    </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>

