@{
    Layout = "_Layout";
}
<head>

</head>


<body>
@*header starts here*@
    <header class="sport-head-area">
    <div class="sport-header-container">
      <div class="sport_logo">
        <h1><span>Football</span>League</h1>
      </div>
      <div class="football-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="football-menu">
        <ul class="football-menu1">
          <li><a asp-controller="Football" asp-action="Matches" class="active">MATCHES</a></li>
          <li><a asp-controller="Football" asp-action="News" class="">NEWS</a></li>
          <li><a asp-controller="Football" asp-action="Standings" class="">STANDINGS</a></li>
          <li><a asp-controller="Football" asp-action="Stats" class="">STATS</a></li>
          <li><a asp-controller="Football" asp-action="Players" class="">PLAYERS</a></li>
        </ul>
      </div>
    </div>
@*header ends here*@
  </header>

</body>

