
@{
    ViewData["Title"] = "Matches";
    Layout = "~/Views/Shared/layout_Football.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Matches.css">
</head>

@model List<Match>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-content">
                <div class="teams">
                    <p>Ugamsil</p>
                    <p></p>
                    <p>cameroon</p>
                </div>
                <div class="scores">
                    <h1>5</h1>
                    <p clss="vs-inactive">vs</p>
                    <h1>3</h1>
                </div>
                <div class="locations">
                    <span><i class="fa fa-map-marker-alt"></i>Impulse Field</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="teams">
      <p>Mali</p>
      <p></p>
      <p>Chad</p>
    </div>
    <div class="scores">
      <img src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="" height="100">
      <p class="vs-future">vs</p>
      <img src="https://www.seeklogo.net/wp-content/uploads/2015/10/leicester-city-fc-vector-logo-eps-svg.png" alt="" height="100">
    </div>
    <div class="locations">
      <span><i class="fas fa-map-marker-alt"></i> Anfield</span>
      <span></span>
      <span><i class="fas fa-location-arrow"></i> Liverpool</span>
    </div>
  </div>
  <div class="card-footer card-footer-future">
    <i class="far fa-calendar-alt"></i> Monday, January 2 
    <span class="float-right"><i class="far fa-clock"></i> 9:30 AM</span>
  </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="teams">
            <p>Gambia</p>
            <p></p>
            <p>Comoros</p>
        </div>
        <div class="scores">
            <img src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="" height="100">
            <p class="vs-future">vs</p>
            <img src="https://www.seeklogo.net/wp-content/uploads/2015/10/leicester-city-fc-vector-logo-eps-svg.png" alt="" height="100">
        </div>
        <div class="locations">
            <span><i class="fas fa-map-marker-alt"></i> Anfield</span>
            <span></span>
            <span><i class="fas fa-location-arrow"></i> Liverpool</span>
        </div>
    </div>
    <div class="card-footer card-footer-future">
        <i class="far fa-calendar-alt"></i> Monday, January 2
        <span class="float-right"><i class="far fa-clock"></i> 9:30 AM</span>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="teams">
            <p>Yemen</p>
            <p></p>
            <p>Sudan</p>
        </div>
        <div class="scores">
            <img src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="" height="100">
            <p class="vs-future">vs</p>
            <img src="https://www.seeklogo.net/wp-content/uploads/2015/10/leicester-city-fc-vector-logo-eps-svg.png" alt="" height="100">
        </div>
        <div class="locations">
            <span><i class="fas fa-map-marker-alt"></i> Anfield</span>
            <span></span>
            <span><i class="fas fa-location-arrow"></i> Liverpool</span>
        </div>
    </div>
    <div class="card-footer card-footer-future">
        <i class="far fa-calendar-alt"></i> Monday, January 2
        <span class="float-right"><i class="far fa-clock"></i> 9:30 AM</span>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="teams">
            <p>Ivory Coast</p>
            <p></p>
            <p>Nigeria</p>
        </div>
        <div class="scores">
            <img src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="" height="100">
            <p class="vs-future">vs</p>
            <img src="https://www.seeklogo.net/wp-content/uploads/2015/10/leicester-city-fc-vector-logo-eps-svg.png" alt="" height="100">
        </div>
        <div class="locations">
            <span><i class="fas fa-map-marker-alt"></i> Anfield</span>
            <span></span>
            <span><i class="fas fa-location-arrow"></i> Liverpool</span>
        </div>
    </div>
    <div class="card-footer card-footer-future">
        <i class="far fa-calendar-alt"></i> Monday, January 2
        <span class="float-right"><i class="far fa-clock"></i> 9:30 AM</span>
    </div>
</div>

<div class="container">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var Match in Model)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="teams">
                                <p>@Match.Home_Team</p>
                                <p></p>
                                <p>@Match.Away_Team</p>
                            </div>
                            <div class="scores">
                                <h1>@Match.Home_Goals</h1>
                                <p class="vs-inactive">vs</p>
                                <h1>@Match.Away_Goals</h1>
                            </div>
                            <div class="locations">
                                <span><i class="fa fa-map-marker-alt"></i>Old Trafford</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No matches available.</p>
    }
</div>