@{
    Layout = "layout_Football";
}
<head>
    <link rel="stylesheet" href="~/css/Players.css">
</head>
@model List<Player>

<body>
    <div class="container" id="player_container">
        <div class="row">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var Player in Model)
                {
                            <article class="card" id="player_card" data-visible="false">
                        <div class="card__front flow-content">
                            <img class="card__img mx-auto" src="p2.jpg" alt="John Smith (from Unsplash)" />
                            <div class="flow-content" data-spacing="sm">
                                <p class="card__name">@Player.Name</p>
                                <p class="card__position">Marketing Specialist</p>
                            </div>
                        </div>
                        <div class="card__back flow-content">
                            <p class="card__name">@Player.Name</p>
                            <q>@Player.Description</q>
                            <ul role="list" class="card__social flex-group">
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter fa-xl"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin fa-xl"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <footer class="card__footer">
                            <button data-card-controller class="card__toggle">
                                <i class="fa-solid fa-plus card__toggle-icon"></i>
                            </button>
                        </footer>
                    </article>
                }
            }
            else
            {
                <p>No matches available.</p>
            }
        </div>
    </div>
</body>