
@{
    ViewData["Title"] = "Stats";
    Layout = "~/Views/Shared/layout_Football.cshtml";
}

<h1>Stats</h1>

<head>
    <link rel="stylesheet" href="~/css/Stats.css">
</head>

<div class="container">
	<table id="playersTable">
		<thead>
			<tr>
				<th>No.</th>
				<th>Picture</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Name</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Age</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Position</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Salary</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Goals</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Rating</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="Logo" /></td>
				<td class="px-6 py-4 whitespace-nowrap">Lutufi</td>
				<td class="px-6 py-4 whitespace-nowrap">99</td>
				<td class="px-6 py-4 whitespace-nowrap">CB</td>
				<td class="px-6 py-4 whitespace-nowrap">50000tk</td>
				<td class="px-6 py-4 whitespace-nowrap">10</td>
				<td class="px-6 py-4 whitespace-nowrap">95</td>
			</tr>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="Logo" /></td>
				<td class="px-6 py-4 whitespace-nowrap">Naser</td>
				<td class="px-6 py-4 whitespace-nowrap">23</td>
				<td class="px-6 py-4 whitespace-nowrap">CR</td>
				<td class="px-6 py-4 whitespace-nowrap">10000tk</td>
				<td class="px-6 py-4 whitespace-nowrap">25</td>
				<td class="px-6 py-4 whitespace-nowrap">98</td>
			</tr>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="Logo" /></td>
				<td class="px-6 py-4 whitespace-nowrap">Pinto</td>
				<td class="px-6 py-4 whitespace-nowrap">22</td>
				<td class="px-6 py-4 whitespace-nowrap">CM</td>
				<td class="px-6 py-4 whitespace-nowrap">40000tk</td>
				<td class="px-6 py-4 whitespace-nowrap">8</td>
				<td class="px-6 py-4 whitespace-nowrap">89</td>
			</tr>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="https://www.seeklogo.net/wp-content/uploads/2011/08/liverpool-logo-vector.png" alt="Logo" /></td>
				<td class="px-6 py-4 whitespace-nowrap">Inter</td>
				<td class="px-6 py-4 whitespace-nowrap">23</td>
				<td class="px-6 py-4 whitespace-nowrap">GK</td>
				<td class="px-6 py-4 whitespace-nowrap">25000</td>
				<td class="px-6 py-4 whitespace-nowrap">1</td>
				<td class="px-6 py-4 whitespace-nowrap">90</td>
			</tr>
		</tbody>
	</table>
	<link url="Datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
</div>

