



<div class="content-page">
    <h1 class="text-center" style="color: #ff4a44;">About Us</h1>

    <h3 class="text-center">Welcome to the IUT League</h3> 
        @*- The Heart of Our University Football Club!</h3>*@

    <div class="container">
        <h4 style="color: #ff4a44;">Who We Are</h4>
        <p>The IUT League is the brainchild of Mahajabin Tabassum and Wasswa Lutufi Sebbanja, created as part of our RDBMS CSE 4512 project. At its core, IUT League is the soul of the university football club, designed with passion and dedication to elevate the football experience for our university community.</p>
        <br>
    </div>

    <div class="container">
        <h4 class="text-right" style="color: #ff4a44;">Our Mission</h4>
        <p >Our mission is simple but profound: to provide an all-encompassing platform that empowers efficient league management and enhances the footballing spirit within our university. With IUT League, we aim to simplify the management of scores, standings, and player data, ensuring that every football match becomes a memorable experience.</p>
        <br>
    </div>

    <div class="container">
        <h4 style="color: #ff4a44;">Why IUT League? </h4>
        <ul>
            <li><strong>Efficiency:</strong> IUT League offers a seamless and efficient way to manage our football league. Administrators will find our user-friendly interface a powerful tool for controlling the league's dynamics.</li>
            <li><strong>Real-Time Updates:</strong> We understand the importance of staying connected. Enjoy real-time updates on match scores, team standings, and your favorite players.</li>
            <li><strong>Fostering Competition:</strong> IUT League exists to ignite the competitive spirit among players and fans, creating an electrifying atmosphere on the football field.</li>
        </ul>
            <br>
    </div>

    <div class="container">
        <h4 class="text-end" style="color: #ff4a44;">Meet the Creators</h4>
        <ul>
            <li><strong>Mahajabin Tabassum:</strong> With a passion for web development and a profound understanding of databases, she has played a pivotal role in shaping the IUT League.</li>
            <li><strong>Wasswa Lutufi Sebbanja:</strong> A football enthusiast and tech-savvy mind, his expertise in coding and design has been instrumental in making IUT League a reality.</li>
        </ul>
            <br>
    </div>

    <div class="container">
        <h4 style="color: #ff4a44;">Contact Us</h4>
        <p>We are eager to hear from you. If you have questions, suggestions, or simply want to engage with us, don't hesitate to get in touch. Reach us at 
            <a href="#">this address</a>
        </p>
        <br>
    </div>

    <div class="container">
        <h4 class="text-end" style="color: #ff4a44;">Thank You </h4>
        <p>We extend our heartfelt gratitude to the university's football community for supporting the IUT League. Your passion fuels our commitment to continually enhance the footballing experience.</p>
        <br>
    </div>

    
 </div>
 <br>
 <h4 style="color: #ffffff;">
     Join Us on This Footballing Journey
 </h4>
<p style="color: #ffffff;">
    Prepare yourself for an exhilarating journey of football, competition, and efficient league management with the IUT League. We are here to elevate the footballing spirit and make every match memorable for our university.
</p>
