@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IUT League</h1>
    <p>The Ultimate sports of the <a href="https://www.iutoic-dhaka.edu/">Red Heaven</a>.</p>
</div>

<main class="page-content">

    <a asp-controller="Football" asp-action="Index">
        <div class="card card1">
            <div class="content">
                <h2 class="heading">Football</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Basketball" asp-action="Index" >
      <div class="card card2" >
        <div class="content">
          <h2 class="heading">Basketball</h2>
          <p class="data-content"># </p>
        </div>
      </div>
    </a>
    <a asp-controller="Badminton" asp-action="Index" >
          <div class="card card3" >
            <div class="content">
              <h2 class="heading">Badminton</h2>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
      <a asp-controller="Chess" asp-action="Index" >
          <div class="card card4" >
            <div class="content">
              <h2 class="heading">Chess</h2>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
    <a asp-controller="Cricket" asp-action="Index" >
        <div class="card card5" >
            <div class="content">
                <h2 class="heading">Cricket</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Volleyball" asp-action="Index" >
        <div class="card card6" >
            <div class="content">
                <h2 class="heading">Volleyball</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Tennis" asp-action="Index" >
        <div class="card card7" >
            <div class="content">
                <h2 class="heading">Tennis</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
   <a asp-controller="Table_Tennis" asp-action="Index" >
        <div class="card card8" >
            <div class="content">
                <h2 class="heading">Table Tennis</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
</main>
