@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IUTLeague</h1>
    <p>The Ultimate sports of the <a href="https://www.iutoic-dhaka.edu/">Red Heaven</a>.</p>
</div>
