@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IUT League</h1>
    <p>The Ultimate sports of the <a href="https://www.iutoic-dhaka.edu/">Red Heaven</a>.</p>
</div>

<main class="page-content">
    <a asp-controller="Football" asp-action="Index">
        <div class="d_card">
            <div class="content">
                <h2 class="heading">Football</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a href="#">
      <div class="d_card">
        <div class="content">
          <h2 class="heading">Basketball</h2>
          <p class="data-content"># </p>
        </div>
      </div>
    </a>
    <a href="#">
          <div class="d_card">
            <div class="content">
              <h2 class="heading">Badminton</h2>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
      <a href="#">
          <div class="d_card">
            <div class="content">
              <h2 class="heading">Chess</h2>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
    <a href="#">
        <div class="d_card">
            <div class="content">
                <h2 class="heading">Cricket</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="d_card">
            <div class="content">
                <h2 class="heading">Volleyball</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="d_card">
            <div class="content">
                <h2 class="heading">Tennis</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="d_card">
            <div class="content">
                <h2 class="heading">Table Tennis</h2>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
</main>
