@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">IUT League</h1>*@
    <br>
    <h2 class="text-4xl text-white">The Ultimate sports of the <a href="https://www.iutoic-dhaka.edu/" class="text-danger">Red Heaven</a>.</h2>
</div>

<main class="page-content">

    <a asp-controller="Football" asp-action="Index">
        <div class="card card1">
            <div class="content">
                <br>
                <h4 class="heading">Football</h4>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Basketball" asp-action="Index" >
      <div class="card card2" >
        <div class="content">
            <br>
          <h4 class="heading">Basketball</h4>
          <p class="data-content"># </p>
        </div>
      </div>
    </a>
    <a asp-controller="Badminton" asp-action="Index" >
          <div class="card card3" >
            <div class="content">
                <br>
              <h4 class="heading">Badminton</h4>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
      <a asp-controller="Chess" asp-action="Index" >
          <div class="card card4" >
            <div class="content">
                <br>
              <h4 class="heading">Chess</h4>
              <p class="data-content"># </p>
            </div>
          </div>
      </a>
    <a asp-controller="Cricket" asp-action="Index" >
        <div class="card card5" >
            <div class="content">
                <br>
                <h4 class="heading">Cricket</h4>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Volleyball" asp-action="Index" >
        <div class="card card6" >
            <div class="content">
                <br>
                <h4 class="heading">Volleyball</h4>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
    <a asp-controller="Tennis" asp-action="Index" >
        <div class="card card7" >
            <div class="content">
                <br>
                <h4 class="heading">Tennis</h4>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
   <a asp-controller="Table_Tennis" asp-action="Index" >
        <div class="card card8" >
            <div class="content">
                <h4 class="heading">Table Tennis</h4>
                <p class="data-content"># </p>
            </div>
        </div>
    </a>
   

    <div class="text-center">
    <br>
        <h2 class="text-4xl text-white">Latest News </h2>
    <br>
    </div>

    <div class='hover'>
      <p class='demo-title'>Football</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="images/news1.png">
          <div class='date'>
            <div>06</div>
            <div>Nov</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Angelo Mathews got timed out!</h1>
          <h2 class='sub-title'>#BANvsSL</h2>
          <p class="description">For the first time ever in International Cricket history, Angelo Mathews got timed out!
                    <br>
                    #BANvsSL 
                    <br>    
                    #cwc2023
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 9 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="images/news2.png">
          <div class='date'>
            <div>29</div>
            <div>Oct</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Champions Trophy IUT 2023</h1>
          <h2 class='sub-title'>A thrilling contest</h2>
          <p class="description">Champions Trophy IUT 2023 Match Fixture.
              <br>
                Every Team must follow the date and time.
                <br>
                It will be a thrilling contest In Sha Allah. 
                <br>
                See you there!
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 39 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>


</main>

