@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News Panel";
}
<h1>@ViewData["Title"]</h1>

    <div class="text-center">
    <br>
        <h2 class="text-4xl text-white"> </h2>
    <br>
    </div>


    <main class="page-content">

    <div class='hover'>
      <p class='demo-title'>Football</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news1.png">
          <div class='date'>
            <div>06</div>
            <div>Nov</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">For the first time ever in International Cricket history, Angelo Mathews got timed out!
                    <br>
                    #BANvsSL 
                    <br>    
                    #cwc2023
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 9 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news2.png">
          <div class='date'>
            <div>29</div>
            <div>Oct</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">Champions Trophy IUT 2023 Match Fixture.
              <br>
                Every Team must follow the date and time.
                <br>
                It will be a thrilling contest In Sha Allah. 
                <br>
                See you there!
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 25 ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 39 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>

     <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news7.png">
          <div class='date'>
            <div>5</div>
            <div>Dec</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">Table Tennis Tournament
              <br>
                Female hall table tennis tournament is on 10th Jan
                <br>
                Register and secure your spot in this thrilling tournament.
                <br>
                For inquiries, contact sports room supervisor
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 39 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news3.png">
          <div class='date'>
            <div>8</div>
            <div>Nov</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">Still in awe of Maxwell's innings!
              <br>
                Glenn Maxwell is the first batsman in the history of cricket to score a double
                <br>
                century while chasing, also the first to do it as a non opener,
                <br>
                also the first in the history of Australia Cricket Team.
          </p>
          <div class="meta">
            @*<span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>*@
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 5 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news4.png">
          <div class='date'>
            <div>13</div>
            <div>Nov</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">IUTSC FPL CUP 
              <br>
                Starts from Gameweek 15
                <br>
                Only 16 team will participate.. 
                <br>
                Learn more in the facebook page
          </p>
          <div class="meta">
            <span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 2 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='hover'>
      <p class='demo-title'>Cricket</p>
      <div class='module'>
        <div class='thumbnail'>
          <img src="../images/news5.png">
          <div class='date'>
            <div>29</div>
            <div>Oct</div>
          </div>
        </div>
        <div class='news_content'>
          <div class="category">Photos</div>
          <h1 class='title'>Headline</h1>
          <h2 class='sub-title'>Subtitle</h2>
          <p class="description">50th ODI HUNDRED FOR KING KOHLI!!! 
              <br>
                Broke the world record of Sachin Tendulkar right in front of him
                <br>
                Highest number of ODI hundred by a batter in the history of cricket.  
                <br>
                #cwc2023
          </p>
          <div class="meta">
            @*<span class="timestamp">
              <i class='fa fa-clock-o'></i> 6 mins ago
            </span>*@
            <span class="comments">
              <i class='fa fa-comments'></i>
              <a href="#"> 139 comments</a>
            </span>
          </div>
        </div>
      </div>
    </div>

   

</main>